*.log 
*.toc
*.aux
*.snm
*.out
*.nav
beta.140.112.distribution.tex
beta.140.112.hpd.tex
beta.3.5.distribution.tex
beta.3.5.hpd.tex
binomial.likelihood.tex
gamma.distributions.tex
gamma.posterior.hpd.tex
gamma.posterior.tex
normal.likelihood.tex
poisson.distribution.tex
poisson.likelihood.tex
poisson.posterior.predictive.tex
scaled.inv.chisq.tex
